<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
		<!-- 비밀번호체크 -->
	<select id="checkPw" resultType="int">
		select count(*) from member
		where userid=#{userid} and passwd=#{passwd}
	</select>
	
	<select id="memberList" resultType="memberDto">
		select * from member
	</select>
	
	<select id="memberPick" resultType="int">
		select count(*) from member where userid=#{userid}
	</select>
	
	<insert id="insertId">
		insert into member (userid,passwd,name,inception) values(#{userid},#{passwd},#{name},#{inception})
	</insert>
	
</mapper>